<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="output.css" rel="stylesheet">
    <title>Members Clubhouse</title>
</head>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <% if (typeof locals.currentUser == "undefined") { %>
        <li><a href="/sign-up">Sign up</a></li>
        <li><a href="/log-in">Log In</a></li>
        <% } %>
        <% if (locals.currentUser) { %>
        <li><a href="/log-out">Log Out</a></li>
        <li><%= locals.currentUser.firstname %></li>
        <% } %>
        <% if (typeof locals.currentUser != "undefined" && !locals.currentUser.isMember) { %>
        <li><a href="/join">Join the Club</a></li>
        <% } %>
    </ul>
</nav>