<%- include ("./partials/header") %>
    <h1 class="text-3xl font-bold underline"><%= currentUser.firstname + ", because you have made at least one post, you are invited to become an Admin!" %></h1>
    <h2>Admins can delete posts.</h2>
    <form action="" method="POST">
        <input type="hidden" class="form-control" name="admin" />
        <button type="submit">Become an Admin</button>
    </form>
    <% if (typeof errors != "undefined") { %>
        <ul>
            <% errors.forEach((error) => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>

<%- include ("./partials/footer") %>