<%- include ("./partials/header") %>
<body>


<h1 class="text-3xl font-bold underline"><%= title %></h1>
<% if (currentUser) { %>
    <a href="/new-post">Post new message</a>
<% } %>


</body>



<%- include ("./partials/footer") %>