<%- include ("./partials/header", { title: title}) %>
<div class="mx-5 md:w-3/4 md:mx-auto">
    <div class="my-5 p-5 border border-solid border-gray-900 rounded-md bg-dark2">
    <h1 class="text-xl text-white">Log in to the Members Clubhouse!</h1>
    <p class="mt-4 text-dark4">Membership has its privileges.</p>
    </div>
    <div class="my-5 p-5 md:w-1/2 border border-solid border-gray-900 rounded-md bg-dark2">
    <form action="" method="POST">
        <label for="username" class="text-white">Email Address</label>
        <input type="text" class="form-control block md:w-1/2 mt-3 px-3 py-1.5 text-base font-normal text-grey-700 border border-solid border-grey-300 bg-dark3 text-dark4" name="username" /><br>
        <label for="password" class="text-white">Password</label>
        <input type="password" class="form-control block md:w-1/2 mt-3 px-3 py-1.5 text-base font-normal text-grey-700 border border-solid border-grey-300 bg-dark3 text-dark4" name="password" /><br>
        <button type="submit" class="inline-block mt-3 py-1 px-2 border border-gray-900 border-solid rounded-md bg-dark3 text-dark4 hover:bg-dark2 hover:text-dark4">Log in</button>
    </form>
    </div>
</div>
<%- include ("./partials/footer") %>
